version: '3.8'

services:
  app:
    build:
      context: docker
      dockerfile: Dockerfile
    container_name: notjs-api
    ports:
      - "8080:8080"
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge