@import "tailwindcss";
@import "@xterm/xterm/css/xterm.css";

/* Custom scrollbar styling for terminal and editor areas */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgb(243 244 246);
}

.dark .scrollbar-custom::-webkit-scrollbar-track {
  background-color: rgb(31 41 55);
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(156 163 175);
  border-radius: 0.25rem;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
}

/* Firefox scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175) rgb(243 244 246);
}

.dark .scrollbar-custom {
  scrollbar-color: rgb(75 85 99) rgb(31 41 55);
}

/* Ensure xterm styles override Tailwind's reset */
.xterm {
  font-family: courier-new, courier, monospace;
  font-feature-settings: "liga" 0;
  position: relative;
  user-select: none;
}

.xterm .xterm-viewport {
  background-color: #000 !important;
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}