/* Import Theme Variables (Safe, doesn't render CSS) */
@import "tailwindcss/theme.css";

/* External Library CSS */
@import "@xterm/xterm/css/xterm.css";

/* Scope ALL Tailwind Utilities to your container only */
@layer utilities {
  .notjs-container {
    @import "tailwindcss/utilities.css";
  }
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
}

/* Firefox scrollbar */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: rgb(156 163 175) rgb(243 244 246);
}

.dark .scrollbar-custom {
  scrollbar-color: rgb(75 85 99) rgb(31 41 55);
}